In [2]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('Predictive_Maintenance_Case_Study.csv')
data.head()

,UDI,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Failure
0,1,M,298.1,323.740741,1551,42.8,0,0
1,2,L,298.2,324.111111,1408,46.3,3,0
2,3,L,298.1,323.370370,1498,49.4,5,0
3,4,L,298.2,323.740741,1433,39.5,7,0
4,5,L,298.2,324.111111,1408,40.0,9,0

In [22]:
data.tail()

,UDI,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Failure
9995,9996,M,298.8,323.000000,1604,29.5,14,0
9996,9997,H,298.9,323.000000,1632,31.8,17,0
9997,9998,M,299.0,323.740741,1645,33.4,22,0
9998,9999,H,299.0,324.111111,1408,48.5,25,0
9999,10000,M,299.0,324.111111,1500,40.2,30,0

In [26]:
data.shape

(10000, 8)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   UDI                  10000 non-null  int64
 1   Type                 10000 non-null  object
 2   Air temperature      10000 non-null  float64
 3   Process temperature  10000 non-null  float64
 4   Rotational speed     10000 non-null  int64
 5   Torque               10000 non-null  float64
 6   Tool wear            10000 non-null  int64
 7   Failure              10000 non-null  int64
dtypes: float64(3), int64(4), object(1)
memory usage: 625.1+ KB

In [10]:
data.describe()

,UDI,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Failure
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,300.004930,328.946519,1538.776100,39.986910,107.951000,0.033900
std,2886.89568,2.000259,5.495312,179.284096,9.968934,63.654147,0.180981
min,1.00000,295.300000,313.000000,1168.000000,3.800000,0.000000,0.000000
25%,2500.75000,298.300000,324.481481,1423.000000,33.200000,53.000000,0.000000
50%,5000.50000,300.100000,329.296296,1503.000000,40.100000,108.000000,0.000000
75%,7500.25000,301.500000,333.000000,1612.000000,46.800000,162.000000,0.000000
max,10000.00000,304.500000,343.000000,2886.000000,76.600000,253.000000,1.000000

In [12]:
data.isnull().sum()

UDI                    0
Type                   0
Air temperature        0
Process temperature    0
Rotational speed       0
Torque                 0
Tool wear              0
Failure                0
dtype: int64

In [28]:
data.duplicated().sum()

0

In [30]:
data['Type'].value_counts()

Type
L    6000
M    2997
H    1003
Name: count, dtype: int64

In [32]:
data['Type'].value_counts(normalize=True)

Type
L    0.6000
M    0.2997
H    0.1003
Name: proportion, dtype: float64

In [34]:
data.sort_values(by='Torque')

,UDI,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Failure
1784,1785,L,298.3,321.518519,2886,3.8,57,1
463,464,L,297.4,324.111111,2874,4.2,118,1
50,51,L,298.9,325.592593,2861,4.6,143,1
847,848,L,296.4,319.296296,2833,5.6,213,1
4296,4297,L,301.8,329.666667,2825,5.8,215,1
...,...,...,...,...,...,...,...,...
6525,6526,L,301.1,330.407407,1312,73.6,49,1
1324,1325,M,298.8,329.296296,1243,74.5,194,1
9084,9085,L,297.2,321.148148,1326,75.4,172,1
880,881,M,295.8,315.222222,1235,76.2,89,1
7763,7764,L,300.4,334.851852,1200,76.6,3,1

In [58]:
data[data['Failure']==1]

,UDI,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Failure
50,51,L,298.9,325.592593,2861,4.6,143,1
69,70,L,298.9,325.222222,1410,65.7,191,1
77,78,L,298.8,324.851852,1455,41.3,208,1
160,161,L,298.4,322.259259,1282,60.7,216,1
161,162,L,298.3,321.888889,1412,52.3,218,1
...,...,...,...,...,...,...,...,...
9758,9759,L,298.6,328.185185,2271,16.2,218,1
9764,9765,L,298.5,327.074074,1294,66.7,12,1
9822,9823,L,298.5,326.703704,1360,60.9,187,1
9830,9831,L,298.3,326.333333,1337,56.1,206,1
9974,9975,L,298.6,322.259259,1361,68.2,172,1

TypeError: 'method' object is not subscriptable